.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css or any other CSS file you're using */
body {
  padding-top: 5rem; /* Adjust this value to match the header height */
}

.top-containers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.bottom-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
}

/* Add some styles for the individual containers */
.LeaderContainer,.ViewsContainer,
.NewsContainer {
  width: 30%;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  
}

/* You can also adjust the styles for mobile or smaller screens */
@media (max-width: 767px) {
  .LeaderContainer,
  .ViewsContainer,
  .NewsContainer {
    width: 100%;
    margin-bottom: 20px;
  }
}

.ClarifyContainer, .OrganizationSignup{
  text-align: left;  
}

/* You can also adjust the styles for mobile or smaller screens */
@media (max-width: 767px) {
  .ClarifyContainer, .OrganizationSignup{
    width: 100%;
  }
}

.map-container {
  width: 100%;
  height: 300px;
  position: 'relative';
}

.read-more-button {
  background-color: #4CAFFF;
  border-color: #4CAFFF;
  color: white;
  padding: 2px 5px;
  font-size: 0.8em;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid;
  text-decoration: none;
  display: inline-block;
}

.App-header {
  justify-content: space-between;
  align-items: center;

  background-color: #282c34;
  min-height: .6vh;
  display: flex;
  align-items: center;
  font-size: calc(7px + 2vmin);
  color: white;
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;

  /* Add any other styles for the header */
}

.menu-container {
  /* Add any styles for the menu container */
  text-align: center;
  font-size: calc(5px + 2vmin);
  
}

.right-content-container {
  /* Add any styles for the right end content container */
}
.logo {
  height: 40px; /* Maintain the aspect ratio of the logo */
  width: auto;
}
button {
  background-color: seagreen;
  color: white; /* For better contrast */
  border-radius: 10px !important; /* Adjust this value for the desired roundness */

  /* Add any other styles you want for the buttons */
}

.infoheader {
  display: flex;
  align-items: flex-start;
}

.logo-wrapper {
  margin-right: 10px;
}

.site-info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.site-name {
  font-size: 18px;
  font-weight: bold;
}

.tagline {
  font-size: 12px;
  font-weight: normal;
  margin-top: 2px;
}
