
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.link {
    color: blue;
    font-size: small;
}
.questions {
    padding-right:10px;
}

.button-container {
  /* Add any styles for the menu container */
  align-items: center;
  align-self: center;
  width: 100%;
}
.container {
    width: 100%;
    box-sizing: border-box;
    display: block;
}

button{
      margin-right: 10px;
}

.confirmtext{
    margin-top: 5px;
    margin-bottom: 5px;
}