.share-bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 1rem;
  background-color: #f2f2f2;
}

.share-bar a {
  text-decoration: none;
  color: #333;
}

.share-bar a:hover {
  color: #666;
}
.email-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.custom-reason-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.custom-reason-button {
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reasons-list {
  list-style-type: none;
  padding: 0;
}

.reason-item {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  white-space: pre-wrap; /* Break lines */
  word-wrap: break-word; /* Break long words */
}

.reason-item.selected {
  background-color: #f0f0f0;
}

.radio-group {
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
}
